// @import "common/example";
@import "common/menu";
@import "common/buttons";
@import "common/ribbon";

// ==!> Most Common styles <!==
.title {
   position: relative;
   margin: 0;

   @extend %font-title;
}

.text {
   margin: 0;
}

.logo {
   display: flex;
   align-items: center;

   &__link {
      position: relative;
      display: inline-block;
      max-width: 48px;
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: var(--color-white);
   }

   &__description {
      --full-offset: 47px;
      --padding-left: 24px;

      position: relative;
      margin-left: calc(var(--full-offset) - var(--padding-left));
      padding-left: var(--padding-left);
      max-width: calc(140px + var(--padding-left));
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: rgba(#fff, 0.2);

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         width: 1px;
         height: 32px;
         background-color: rgba(#fff, 0.2);
         opacity: 1;
         transform: translateY(-50%);
      }

      @media (max-width: $xl) {
         --full-offset: 30px;
         --padding-left: 15px;
      }
   }
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;

   &__logo {
      margin-right: 10px;
   }

   &__text {
      margin-left: 10px;
      max-width: 384px;
      text-align: right;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 -1px 30px #fbff32;
      -webkit-text-stroke: 0.5px #fbff32;
      background-clip: text;

      @extend %font-middle;

      @media (max-width: $sm) {
         display: none;
      }
   }
}

.--hover-underline {
   position: relative;
   transition: color 0.15s ease-in-out;

   &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: currentColor;
      transition: width 0.15s ease-in-out;
   }

   @media (any-hover: hover) {
      &:hover::before {
         width: 100%;
      }
   }
}

.counter-number {
   position: absolute;
   z-index: -1;
   font-weight: 700;
   line-height: 100%;
   text-align: center;
   text-transform: uppercase;
   user-select: none;

   @include responsive(font-size, 288px, 180px, $xxl, $sm);

   &--small {
      @include responsive(font-size, 250px, 160px, $xxl, $sm);
   }
}

.section-inscription {
   top: 50%;
   color: rgba(#fff, 0.04);
   transform: translateY(-50%);

   @extend .counter-number, .counter-number--small;

   @include responsive(font-size, 250px, 160px, $xxl, $sm);
   @include responsive(right, -261px, 0px, $lg, $sm);
}

.parallax__scene {
   flex: 1 1 auto;
   height: 300px;
   transform: none;
   user-select: none;

   &-item {
      position: absolute;
      left: initial;
      right: 0;
      top: 0;
      z-index: -1;

      img {
         // width: 100%;
         // height: 100%;
         object-fit: contain;
         object-position: center;
      }
   }
}

// ==!> Most Common styles <!==
