:root {
}

@media (max-width: $lg) {
   :root {
      --header-offset: 0px;
   }
}

.header {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: 10;
   transition: background-color 0.3s ease-in-out;

   &__inner {
      margin-top: var(--header-offset);
      margin-bottom: var(--header-offset);
      min-height: var(--header-height);
   }

   &__logo {
      position: relative;
      z-index: 5;
   }

   @media (max-width: 840px) {
      &-menu__inner {
         margin-top: var(--header-height);
      }
   }
}
